
 <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">ABC Bank</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" routerLink="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact" tabindex="-1" aria-disabled="true">Contact</a>
      </li>
    </ul>
    <div>
     
      <button class="btn btn-secondary my-2 my-sm-0" routerLink="login" type="submit">Login</button> 
      <button class="btn btn-secondary my-2 my-sm-0" routerLink="Register" type="submit">Register</button>
    
    </div>
  </div>
  </nav>
  <img src="images/bank.gif">
  <main role="main" class="container">

   
      <div class="starter-template">
       </div>
    
    </main>
<router-outlet></router-outlet>
