<p>userportal works!</p>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">ABC Bank</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <button class="btn btn-secondary my-2 my-sm-0" routerLink="logout" type="submit">Logout</button>      
    </nav>
    <div class="nav-scroller bg-white shadow-sm">
      <nav class="nav nav-underline">
        <a class="nav-link active" routerLink="#">Dashboard</a>
        <a class="nav-link" routerLink="#">
          My Account
        </a>
        <a class="nav-link" routerLink="deposit">Deposit</a>
        <a class="nav-link" routerLink="withdraw">Withdraw</a>
        <a class="nav-link" routerLink="checkbalance">Check balance</a>
       
       
      </nav>
    </div>
    <main role="main" class="container">

            <div class="starter-template">
             </div>
             <router-outlet></router-outlet>
    
    </main>
    
    